PracticeMaven/GeometryApp/target
PracticeMaven/GeometryApp/.idea
PracticeMaven/GeometryLibrary/Core/target
PracticeMaven/GeometryLibrary/GeometryUtils/target
PracticeMaven/GeometryLibrary/ThreeDimensionalShapes/target
PracticeMaven/GeometryLibrary/.idea

Practice/ItrumPractice/target
Practice/ItrumPractice/.idea

ITRUM/target
ITRUM/.idea